.paginado{
    padding:15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position:sticky;

}

.paginado li{
    display: inline-block;
    list-style: none;
}

.paginado li a {
    cursor:pointer;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color:#333;
    font-weight: 600;
    border-radius: 50%;
    margin:6px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2) , 0 3px 6px rgba(0, 0, 0, 0.5);
    transition:0.5s;
    display:block;
    width: 30px;
    height:30px;
    line-height: 30px;
}

.paginado li a:hover{
    color: crimson;
}

.paginado li a:visited{
    color: crimson;
}

